{% extends "layout.html" %}

{% block title %}{{ super() }} - Overview{% endblock %}

{%- block content %}

<div class="col-md-12">
    <div class="content-top-1">
        <h2>Live Feed</h2>
        <table id="logtable" class="table table-hover">
            <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>number</th>
                <th>status</th>
                <th>needs</th>
                <th>needs_status</th>
                <th>skills</th>
                <th>photos</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>123</td>
                <td>Max Muster</td>
                <td>+41791231234</td>
                <td>injured</td>
                <td>medic</td>
                <td>open</td>
                <td></td>
                <td><a href="#"> </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="socketio-log"></div>

<script>
var socket = io.connect('http://' + document.domain + ':' + location.port);
socket.on('connect', function() {
    socket.emit('my event', {data: 'I\'m connected!'});
    console.log("Established socket.io connection");
});

socket.on('reports add', function(data) {
   console.log/("Test !");
   console.log('socket->log', data);
});

socket.on('reports new',function(data) {
   console.log("new data");
   addRow(data);
});


function addRow(data) {

   var name = faker.name.findName();
   var phoneNr = faker.phone.phoneNumber();
   console.log(name);
   console.log(phoneNr);

   var row = "<tr><td>123</td><td>" + name  + "</td><td>"+ phoneNr+"+</td><td>injured</td><td>medic</td><td>open</td><td>skills</td><td><ahref=#></a></td></tr>";
$("#logtable").prepend(row);
   return 0;
}

window.setInterval(function(){
   simulate();
}, 5000);

function simulate(){
   addRow();
   console.log("bla");
}

</script>

{%- endblock %}
