{% extends "layout.html" %}

{% block title %}{{ super() }} - Overview{% endblock %}

{% block nav_logs %}active{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/logs.js') }}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZE1RJQeKSN5jxz8xxtXZpnEfs7kF08IA&callback=initMap"></script>
{% endblock %}

{%- block content %}

<div class="container">
    <h2>Live Feed</h2>
    <table id="logtable" class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Phone #</th>
            <th>Status</th>
            <th>Requested help</th>
            <th>Status</th>
            <th>Skills</th>
        </tr>
        </thead>
        <tbody>
        {%  for report in reports %}
        <tr>
            <td>{{ report.name }}</td>
            <td>{% if report.source == 'ios' %}iOS App ID {{ report }}{% else %}{{ report.number }}{% endif %}</td>
            <td>{{ report.status }}</td>
            <td>{{ ', '.join(report.needs.split(',')) }}</td>
            <td>{{ report.needs_status }}</td>
            <td>{{ ', '.join(report.skills.split(',')) }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
var socket = io.connect('http://' + document.domain + ':' + location.port);
socket.on('connect', function() {
    socket.emit('my event', {data: 'I\'m connected!'});
    console.log("Established socket.io connection");
});

socket.on('reports add', function(data) {
   console.log/("Test !");
   console.log('socket->log', data);
});

socket.on('reports new',function(data) {
   console.log("new data");
   addRow(data);
});


function addRow(data) {

   var name = faker.name.findName();
   var phoneNr = faker.phone.phoneNumber();
   console.log(name);
   console.log(phoneNr);

   var row = "<tr><td>123</td><td>" + name  + "</td><td>"+ phoneNr+"+</td><td>injured</td><td>medic</td><td>open</td><td>skills</td><td><ahref=#></a></td></tr>";
$("#logtable").prepend(row);
   return 0;
}

window.setInterval(function(){
   simulate();
}, 5000);

function simulate(){
   addRow();
   console.log("bla");
}

</script>

{%- endblock %}
