{% extends "layout.html" %}

{% block title %}{{ super() }} - Overview{% endblock %}

{% block nav_overview %}active{% endblock %}

{% block scripts %}



<script>
var reports = [];

{% for report in reports %}



reports.push({
   id: {{report.id}},
   name: "{{report.name}}",
   source: "{{report.source}}",
   number: "{{report.number}}",
   status: "{{report.status}}",
   location: { lng : {{report.lng}} , lat :{{report.lat}} }
});

{% endfor %}

</script>
<script src="{{ url_for('static', filename='js/overview.js') }}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZE1RJQeKSN5jxz8xxtXZpnEfs7kF08IA&signed_in=true&libraries=visualization&callback=initMap"></script>

{% endblock %}

{%- block content %}
<div id="map" style="height: 100%"></div>
{%- endblock %}
